/* canvas */
img {
  max-width: 400px;
  border: 1px solid black;
}
[role="checkbox"] {
  border: 1px solid;
  display: inline-block;
  height: 25px;
  width: 25px;
}

/* body props */
body { 
  background-color: #1B1B1F;
  color: #59dee3;
  font-family: Arial
  } 

/* other props */
@font-face {
    font-family: 'Baloo 2';
    src: url('/OpenSansFonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
