 :root {
  --app-bg: null
  --app-blur: 14px;
  --app-margin: 10px;
  --app-radius: 5px;
  --main-rgb: 0,0,0;
  --main-content-opacity: 0.2;
  --sidebar-opacity: 0.4;
  --main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
  --sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));
  --accent-hue: 196;
  --accent-saturation: 67%;
  --accent-lightness: 45%;
  --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
  --accent-opacity: 1;
 }
